{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('index') }}
{% endblock %}
{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('index') }}
{% endblock %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block body %}
	<h1>{{ post.title }}</h1>

	<div class="list-group">
		<div class="list-group-item">
			<div class="d-flex w-100 justify-content-between">
				<h4 class="mb-1">{{ post.user.username }}</h4>
				<small class="text-muted">{{ post.createdat|format_datetime('long', 'short', locale='fr') }}</small>
			</div>
			<p>{{ post.content }}</p>
		</div>
	</div>

	<h2>Commentaires</h2>
	{% if post.status == 'opened' %}
		{% if app.user %}
			<div class="formulaire">
				{{ form_start(formComment) }}
				{{ form_row(formComment.content) }}
				<div class="col-12">
					<button type="submit" class="btn btn-secondary">Envoyer</button>
				</div>
				{{ form_end(formComment) }}
			</div>
		{% else %}
			<div class="addFormulaire">
				<h4 class="text-center">Connectez-vous pour ajouter un commentaire</h4>
				<a href="{{ path('app_login') }}" class="btn btn-secondary">Connexion</a>
			</div>
		{% endif %}
	{% else %}
		<h4 class="text-center">Ce statut est fermé</h4>
	{% endif %}

	{% for comment in comments %}
		<div class="list-group">
			<div class="list-group-item">
				<div class="d-flex w-100 justify-content-between">
					<h4 class="mb-1">{{ post.user.username }}</h4>
					<small class="text-muted">{{ comment.createdat|format_datetime('long', 'short', locale='fr') }}</small>
				</div>
				<p>{{ comment.content }}</p>
			</div>
		</div>
	{% endfor %}


{% endblock %}
